table {
    empty-cells: show;
}

.unsorted,.sortdown,.sortup {
  cursor: pointer;
}

.unsorted:after {
  font-family: "Glyphicons Halflings";
  content: "";
  margin-left: 0.5em;
  font-size: 80%;
}

.sortdown:after {
  font-family: "Glyphicons Halflings";
  content: "";
  margin-left: 0.5em;
  font-size: 80%;
}

.sortup:after {
  font-family: "Glyphicons Halflings";
  content: "";
  margin-left: 0.5em;
  font-size: 80%;
}

.ui-autocomplete {
  max-height: 50%;
  overflow-y: auto;
  overflow-x: hidden;
}

#search-form {
  float: left;
}

#page-select {
  float: right;
  margin-left: 1em;
}

#ml-table-header {
  font-size: 120%;
}

.ml-title-zh {
  font-weight: bold;
  font-family: serif;
  font-size: 120%;
}

.ml-title-orig {
  margin-left: 10px;
  font-family: sans-serif;
  font-size: 80%;
}

.ml-year {
  font-size: 140%;
}

.ml-rating {
  font-size: 140%;
  font-weight: bold;
  color: inherit;
}

.ml-genre {
  display: inline-block;
  font-size: 110%;
  margin-left: 3px;
  margin-top: 2px;
}

.ml-filelist {
    display: none;
}

.ml-filelist-dir:before {
  content: "• "
}

.ml-filelist-dir {
  word-break: break-all;
  font-size: 75%;
  font-family: monospace;
}

.ml-filelist-info {
  word-break: keep-all;
  white-space: nowrap;
  font-size: 75%;
  color: #888;
}

.ml-filelist-info:before {
  content: " (";
}

.ml-filelist-info:after {
  content: ")";
}

.ml-file {
    cursor: pointer;
}

.ml-file-number {
  font-weight: bold;
}

.ml-file-size {
    font-size: 75%;
    color: #888;
}

.ml-file-size:before {
    content: " (";
}

.ml-file-size:after {
    content: ")";
}
