#table-title {
  font-size: 120%;
}

.zh-title {
  font-weight: bold;
  font-family: serif;
  font-size: 120%;
}

.orig-title{
  margin-left: 10px;
  font-family: sans-serif;
  font-size: 80%;
}

#searchform {
  float: left;
}

#page-select {
  float: right;
  margin-left: 1em;
}

.mv-genre {
  display: inline-block;
  font-size: 120%;
  margin-left: 3px;
}

.mv-rating {
  font-size: 140%;
  font-weight: bold;
}

.mv-year {
  font-size: 140%;
}

.header {
  margin-top: 5px;
}

.plevel:before {
  content: "• "
}

.plevel {
  word-break: break-all;
  font-size: 75%;
  font-family: monospace;
}

.file-size, .file-time{
  word-break: keep-all;
  white-space: nowrap;
  font-size: 75%;
  color: #888;
}

.file-size:before {
  content: " (";
}

.file-size:after {
  content: ", ";
}

.file-time:after {
  content: ")";
}

.unsorted,.sortdown,.sortup {
  cursor: pointer;
}

.unsorted:after {
  font-family: "Glyphicons Halflings";
  content: "";
  margin-left: 0.5em;
  font-size: 80%;
}

.sortdown:after {
  font-family: "Glyphicons Halflings";
  content: "";
  margin-left: 0.5em;
  font-size: 80%;
}

.sortup:after {
  font-family: "Glyphicons Halflings";
  content: "";
  margin-left: 0.5em;
  font-size: 80%;
}
